<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weekends List</title>
    <link rel="stylesheet" th:href="@{/styles/list-style.css}">
</head>
<body>
<h1 th:text="'Weekend List for ' + ${employeeName}">Weekend List</h1>
<table>
    <tr>
        <th>Date</th>
    </tr>
    <tr th:each="weekend : ${weekendList}">
        <td>
            <span th:text="${weekend.date}">[Date Placeholder]</span>
            <form th:action="@{/work_schedule/api/sb/employee/{employeeId}/weekend/{id}/delete(
                                employeeId=${employeeId},
                                id=${weekend.id})}"
                  method="post"
                  style="display:inline; margin-left: 10px;"> <!-- Добавил немного стиля для отступа -->
                <button type="submit" class="action-button small-button">Delete</button>
            </form>
        </td>
    </tr>
</table>
<a th:href="@{/work_schedule/api/sb/employee/{employeeId}/weekend/add(employeeId=${employeeId})}"
   class="add-button">
    Add Weekend
</a>

<a th:href="@{/work_schedule/api/sb/employee-list}" class="main-button">
    Back to Employee List
</a>
</body>
</html>

