services:
  db:
    image: postgres:12.2
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pass
      - POSTGRES_DB=work_schedule
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build:
      context: ..
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  pgdata:
    driver: local