<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" th:href="@{/styles/list-style.css}">
</head>
<body>
<h1>Employee List</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    <tr th:each="employee : ${employeeList}">
        <td>
            <span th:text="${employee.name}">[Employee Name Placeholder]</span>

            <div class="edit-delete-group" style="margin-top: 5px;">
                <a th:href="@{/work_schedule/api/{companyName}/employee/{id}/update
                (companyName=${companyName},id=${employee.id})}"
                   class="edit-button small-button">
                    Edit
                </a>

                <form th:action="@{/work_schedule/api/{companyName}/employee/{id}/delete
                (companyName=${companyName},id=${employee.id})}"
                      method="post" style="display:inline;">
                    <button type="submit" class="action-button small-button">Delete</button>
                </form>
            </div>
        </td>
        <td class="actions-cell">
            <a th:href="@{/work_schedule/api/{companyName}/employee/{employeeId}/weekend-list
            (companyName=${companyName},employeeId=${employee.id})}"
               class="main-button weekend-button">Weekends</a>
        </td>
    </tr>
</table>


<a th:href="@{/work_schedule/api/{companyName}/employee/add(companyName=${companyName})}" class="add-button">
    Add Employee
</a>
<a th:href="@{/work_schedule/api/{companyName}/schedule/generate(companyName=${companyName})}" class="schedule-button">
    Schedule
</a>
</body>
</html>
