<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" th:href="@{/styles/list-style.css}">
</head>
<body>
<h1>Work Schedule</h1>
<table>
    <tr>
        <th>Date</th>
        <th>Employees</th>
    </tr>
    <tr th:each="schedule : ${scheduleList}">
        <td th:text="${schedule.date}">Date</td>
        <td>
            <ul>
                <li th:each="employee : ${schedule.employees}" th:text="${employee.name}">
                    Employee
                </li>
            </ul>
        </td>
    </tr>
</table>

<a th:href="@{/work_schedule/api/{companyName}/employee-list(companyName=${companyName})}" class="main-button">
    Back to Employee List
</a>
</body>
</html>
